.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.grey-background {
  background-color: #eaeaea;
}

.landing-div {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.barra-atv {
  height: 15vh;
  overflow: hidden;
  padding: 0 30PX;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed!important;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 30;
}

.barra-atv > img {
  max-height: 90%;
}

.boton {
  padding: 10px 20px;
    background: #18182f;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.landingBody {
  margin-top: 15vh;
}

.landing-first-div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.landing-first-div > div {
  width: 45%;
}

@media (max-width: 750px) {
  .landing-first-div > div {
    width: 100%;
  }
}
